<html>
<head>


<meta content="text/html; charset=utf-8" />
<link href="style/style.css" type="text/css" rel="stylesheet"/>
<link href="style/layout.css"  type="text/css" rel="stylesheet" />
</head>
<script src="https://kit.fontawesome.com/b6ac387b71.js" crossorigin="anonymous"></script>
<link  href="path/to/font-awesome/css/font-awesome.min.css">
<body >
<div id="main">
<!-- header -->
	<div id="header">
		<div class="row-1">
			<div class="logo"><a href="anasayfa"><img alt="" src="images/logo1.jpg" /></a></div>
                    <form action="" id="search-form">

            <fieldset>
                 Lastik Sorgula:<br />
					<input type="text" value="" class="text" /><input type="submit" value="Start!" class="submit" />
				</fieldset>
			</form>
		</div>
		<div class="row-2">
		            <a href="signin"><button class="button">Giriş Yap</button></a>
                    <a href="register"><button class="button">Kayıt Ol</button></a>

			<ul class="nav">
				<li><a href="anasayfa" class="first-current"><em><b>Ana Sayfa</b></em></a></li>
				<li><a href="lastikler"><b>Lastikler</b></a></li>
				<li><a href="sorular"><b>Sorular</b></a></li>
				<li><a href="gorusler"><b>Görüşler</b></a></li>
				<li><a href="iletisim"><b>İletişim</b></a></li>
				<li><a href="gizlilik-politikasi" ><b>Gizlilik Politikası</b></a></li>
			</ul>

	</div>
</div>