	<div id="footer">
	   	<ul class="nav">
			<li><a href="anasayfa">Ana Sayfa</a></li>
			<li><a href="lastikler">Lastikler</a></li>
			<li><a href="sorular">Sorular</a></li>
			<li><a href="gorusler">Görüşler</a></li>
			<li><a href="iletisim">İletişim</a></li>
			<li><a href="gizlilik-politikasi">Gizlilik Politikası</a></li>
		</ul>

	</div>
</div>
</body>
</html>