<div class="row-3">
	<div class="main-box">
			        <h1 style="text-align:center">Lastik Kampanyaları<h1>
                    	<div class="extra-banner" >
						<img alt="" src="images/kampanya1.jpg" width =460px  />
                        	<img alt="" src="images/kampanya2.jpg"  width =460px  /> <br><br>
                            	<img alt="" src="images/kampanya3.jpg" width =460px   />
                                	<img alt="" src="images/kampanya4.jpg" width =460px   />  <br><br>

            </div>
                <h1 style="text-align:center">Lastik Hakkında Blog<h1>
			</div>
			</div>


<!-- content -->

	<div id="content">

		<ul class="banners">

			<li><img alt="" src="images/blog1.jpg" width =305px height =200px/><p style="text-align:center ; font-size:130%"><b>Hankook Havasız Lastik <br>CES 2022'de Sergilendi<b\><p\></li>
    	    <li><img alt="" src="images/blog2.jpg" width =305px height =200px/><p style="text-align:center ; font-size:130%"><b>Nokian Outpost AT Lastiklerin Lansmanı <br>Dijital Ortamda Gerçekleşti <b\><p\> </li>
			<li><img alt="" src="images/blog3.jpg" width =305px height =200px/><p style="text-align:center ; font-size:130%"  ><b>CES 2022 Teknoloji Fuarı Başladı<b\><p\>  </li>
		</ul>
		<div class="indent">
			<div class="wrapper line-ver">
				    <table class="image-table">
<tbody>
<tr>
                        <td>
                        <i class="fa-solid fa-handshake-simple fa-3x"></i> <br>
                        <label><strong>UYGUN FİYAT GARANTİSİ</strong></label> <br>
                        <label>Yapacağınız alışverişler için en uygun fiyat garantisi.</label>
                        </td>
                        <td>
                        <i class="fa-solid fa-truck-fast fa-3x" ></i> <br>
                        <label><strong>ÜCRETSİZ KARGO</strong></label> <br>
                        <label>Lastik Ustası alışverişlerinizde tüm ürünler ücretsiz kargodur.</label>
                        </td>
                        <td>
                        <i class="fa-solid fa-credit-card fa-3x" ></i><br>
                        <label><strong>ÖDEME KOLAYLIĞI</strong></label> <br>
                        <label>Tüm kredi kartlarının taksit seçeneklerinden faydalanabilirsiniz.</label>
                        </td>
                        <td>
                        <i class="fa-solid fa-address-book fa-3x"></i>    <br>
                        <label><strong>MÜŞTERİ HİZMETLERİ</strong></label> <br>
                        <label>Mesai saatleri süresince müşteri hizmetlerimizle her zaman görüşebilirsiniz.</label>
                        </td>


</tr>
</tbody>
</table>   <br>

			</div>
		</div>
<!-- box-->
		<div class="box">

										<div class="inner">
											<h2>Ödüllerimiz</h2>
											<ul class="awards">
											  	<li><a href="#"><img alt="" src="images/award1.jpg" /></a></li>
												<li><a href="#"><img alt="" src="images/award2.jpg" /></a></li>
												<li><a href="#"><img alt="" src="images/award3.jpg" /></a></li>
												<li><a href="#"><img alt="" src="images/award4.jpg" /></a></li>
												<li><a href="#"><img alt="" src="images/award5.jpg" /></a></li>
												<li class="last"><a href="#"><img alt="" src="images/award6.jpg" /></a></li>
											</ul>

                </div>
			</div>
		</div>

	</div>