
<!-- content -->
	<div id="content">
		<div class="indent">
			<h2>Değerli Görüşleriniz</h2>
			<dl>
				<dt>A. S.</dt><dd><blockquote><div>&ldquo;Harikasınızz…Uygun fiyat ve hızlı kargolama için teşekkür ederim.Lastik siparişi çektiğim gün ücretsiz montaj için aradılar,o kadar hızlılar.&ldquo;</div></blockquote></dd>
				<dt>S. C.</dt><dd><blockquote><div>&ldquo;Ücretsiz montajda yardımcı olundu firmaya ilgisi için  teşekürler .&ldquo;</div></blockquote></dd>
				<dt>C. G.</dt><dd><blockquote><div>&ldquo;Ben 2020 tarihli almıştım firma 3 adet 2021 göndermiş tesekur ederiz .&ldquo;</div></blockquote></dd>
				<dt>S. G.</dt><dd><blockquote><div>&ldquo;Özellikle montaj kısmında yardımcı olan Meryem hanıma ayrıca teşekkür ederim çok hızlı kargolama ve montaj işlemi yapıldı.&ldquo;</div></blockquote></dd>
				<dt>B. S.</dt><dd><blockquote><div>&ldquo;Herkese burdan fiyat almasını tavsiye ederim.&ldquo;</div></blockquote></dd>
				<dt>B. H.</dt><dd><blockquote><div>&ldquo;İlk defa alışveriş yaptım ama çok memnun kaldım&ldquo;</div></blockquote></dd>
				<dt>İ. H.</dt><dd><blockquote><div>&ldquo;Söylenenin aynısı geldi lastikleri çok beğendim. Ayrıca ücretsiz montaj hizmetinden de yararlandım. Müşteri temsilcisi çok ilgiliydi teşekkürler.&ldquo;</div></blockquote></dd>
				<dt>A. H.</dt><dd><blockquote><div>&ldquo;Merhaba iyi çalışmalar.müşteri hizmetleri emine hanım çok hızlı bir şekilde tarafıma dönüş sağladı.emine hanım konuyla alakalı adım adım tarafıma bilgi verdi.güler yüzü ve ilgisinden dolayı kendisine çok teşekkür ederim.iyi çalışmalar...&ldquo;</div></blockquote></dd>
			</dl>
		</div>
	</div>
     	