
<!-- content -->
    <div id="content">
		<div class="indent">
			<div class="wrapper line-ver">
                <div class="col-1">
					<h2>Bize Ulaşın</h2>
					<p>Desteğe ihtiyaç duyduğunuz zamanlar 7/24 aşağıdaki iletişim yollarından ulaşabilirsiniz...</p>
					<dl class="contacts">
						<dt>e-Posta:</dt>
						<dd><a href="#">s.canergenco@gmail.com</a><br/>
						<br/>
						<a href="#">s.canergenco@gmail.com</a></dd>
					</dl>
					<dl class="contacts">
						<dt>Online Sohbet:</dt>
						<dd><a href="#">Teknik Destek: Caner</a><br /><br/>
						<a href="#">Sorumlu: Caner</a><br />
						<a href="#">Admin: Caner</a></dd>
					</dl>
					<dl class="contacts">
						<dt>Telefon ::</dt>
						<dd>0 545 280 10 27</dd>
					</dl>
				</div>
				<div class="col-2">
					<h2>Destek</h2>
					<dl>
						<dt><a href="#">İletişim Desteği</a></dt>
						<dd>Teknik desteğe telefon veya e-posta aracılığıyla ulaşabilirsiniz.</dd>
						<dt><a href="#">Sıkça Sorulan Sorular</a></dt>
						<dd>Sayfamızda arama yapın. Satış öncesi ve sonrası sorularınızın yanıtlarını hızlıca bulun.</dd>
						<dt><a href="#">Çevrimiçi Topluluk(Üye Olmanız Gerekir)</a></dt>
						<dd>Forumumuz, müşterilerin birbiriyle etkileşim kurmasına, sorunları tartışmasına ve deneyimlerini paylaşmasına olanak tanır. Hizmetlerimiz hakkında tarafsız bir görüş ister misiniz? Bu onu almak için bir yer!</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>