
				<!-- main-box begin -->
				<div class="main-box">
					<h1 style="text-align:center">Lastik Kampanyaları<h1>
							<div class="extra-banner">
								<img alt="" src="images/kampanya1.jpg" width=460px />
								<img alt="" src="images/kampanya2.jpg" width=460px /> <br><br>
								<img alt="" src="images/kampanya3.jpg" width=460px />
								<img alt="" src="images/kampanya4.jpg" width=460px /> <br><br>

							</div>
				</div>
			</div>
		</div>
		<!-- content -->
		<div id="content">
			<h1 style="text-align:center">Yaz Lastikleri</h1>
			<table class="image-table">
				<tbody>
					<tr>
						<td>
							<img src="images/lastik1.jpg" alt="" title="Lastik1">
							<h3 ><strong>MİCHELİN</strong></h3>
							<label class="productName">Compact C2<br></label>
							<label><strong>189.90₺</strong><br></label>
							<a id="addToCard" href="lastikDetay.html"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik2.jpg" alt="" title="Lastik2">
							<h3 ><strong>MİCHELİN</strong></h3>
							<label class="productName">Energy E-V<br></label>
							<label><strong>289.90₺</strong><br></label>
							<a onclick="infunction('Test')" class="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>

							<img src="images/lastik3.jpg" alt="" title="lastik3">
							<h3><strong>MİCHELİN</strong></h3>
							<label class="productName">Energy E3B<br></label>
							<label><strong>149.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik1.jpg" alt="" title="Lastik1">
							<h3><strong>MİCHELİN</strong></h3>
							<label class="productName">Energy Saver<br></label>
							<label><strong>129.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik2.jpg" alt="" title="Lastik2">
							<h3><strong>MİCHELİN</strong></h3>
							<label class="productName">Energy Saver+<br></label>
							<label><strong>289.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/lastik1.jpg" alt="" title="Lastik1">
							<h3><strong>BRİDGESTONE</strong></h3>
							<label class="productName">Alenza 001<br></label>
							<label><strong>389.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik2.jpg" alt="" title="Lastik2">
							<h3><strong>BRİDGESTONE</strong></h3>
							<label class="productName">B250<br></label>
							<label><strong>120.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik3.jpg" alt="" title="lastik3">
							<h3><strong>BRİDGESTONE</strong></h3>
							<label class="productName">B330 EVO<br></label>
							<label><strong>110.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik1.jpg" alt="" title="Lastik1">
							<h3><strong>BRİDGESTONE</strong></h3>
							<label class="productName">Driveguard<br></label>
							<label><strong>129.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik2.jpg" alt="" title="Lastik2">
							<h3><strong>BRİDGESTONE</strong></h3>
							<label class="productName">Duravis R410<br></label>
							<label><strong>139.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
					</tr>

				</tbody>
			</table><br>

			<h1 style="text-align:center">Kış Lastikleri</h1>
			<table class="image-table">

				<tbody>
					<tr>
						<td>
							<img src="images/lastik1.jpg" alt="" title="Lastik1">
							<h3><strong>MİCHELİN</strong></h3>
							<label class="productName">Alpin 5<br></label>
							<label><strong>239.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik2.jpg" alt="" title="Lastik2">
							<h3><strong>MİCHELİN</strong></h3>
							<label class="productName">Alpin 6<br></label>
							<label><strong>189.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik3.jpg" alt="" title="lastik3">
							<h3><strong>MİCHELİN</strong></h3>
							<label class="productName">Alpin A3<br></label>
							<label><strong>389.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik1.jpg" alt="" title="Lastik1">
							<h3><strong>MİCHELİN</strong></h3>
							<label class="productName">Pilot Alpin 5<br></label>
							<label><strong>189.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik2.jpg" alt="" title="Lastik2">
							<h3><strong>MİCHELİN</strong></h3>
							<label class="productName">Latitude X-Ice X12<br></label>
							<label><strong>149.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/lastik1.jpg" alt="" title="Lastik1">
							<h3><strong>BRİDGESTONE</strong></h3>
							<label class="productName">Lastik1<br></label>
							<label><strong>239.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik2.jpg" alt="" title="Lastik2">
							<h3><strong>BRİDGESTONE</strong></h3>
							<label class="productName">Blizzak DMV2<br></label>
							<label><strong>219.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik3.jpg" alt="" title="lastik3">
							<h3><strong>BRİDGESTONE</strong></h3>
							<label class="productName">Blizzak LM001<br></label>
							<label><strong>129.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik1.jpg" alt="" title="Lastik1">
							<h3><strong>BRİDGESTONE</strong></h3>
							<label class="productName">Blizzak LM005<br></label>
							<label><strong>199.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
						<td>
							<img src="images/lastik2.jpg" alt="" title="Lastik2">
							<h3><strong>BRİDGESTONE</strong></h3>
							<label class="productName">Driveguard Winter<br></label>
							<label><strong>299.90₺</strong><br></label>
							<a id="addToCard" href="#"><span><small>Sepete Ekle</small></span></a>
						</td>
					</tr>
				</tbody>
			</table>


		</div>
		<div class="box">

			<div class="inner">
				<h2>Ödüllerimiz</h2>
				<ul class="awards">
					<li><a href="#"><img alt="" src="images/award1.jpg" /></a></li>
					<li><a href="#"><img alt="" src="images/award2.jpg" /></a></li>
					<li><a href="#"><img alt="" src="images/award3.jpg" /></a></li>
					<li><a href="#"><img alt="" src="images/award4.jpg" /></a></li>
					<li><a href="#"><img alt="" src="images/award5.jpg" /></a></li>
					<li class="last"><a href="#"><img alt="" src="images/award6.jpg" /></a></li>
				</ul>

			</div>
		</div>