
<form action="/users/newUser" method="POST">
  <div class="container">
    <body>
    <h1>Kayıt Ol</h1>
    <p>Lütfen bilgileri doğru girin</p>
    <hr>

    <label for="email"><b>e-Posta</b></label>
    <input type="text" placeholder="..." name="_name" required>

    <label for="psw"><b>Şifre</b></label>
    <input type="password" placeholder="...." name="pass" required>

    <label for="psw-repeat"><b>Şifre Tekrarı</b></label>
    <input type="password" placeholder="..." name="pass2" required>
    <hr>
    <p><a href="gizlilik-politikasi"> Gizlilik Politikamız </a>.</p>
    <!--a href="/users/test" style="text-decoration: none;" align="center"><p class="register">Kayıt Ol</p></a-->
    <button class="/users/newUser" type="submit">Kayıt Ol</button>
  </div>
  
  <div class="signin">
    <p>Bir Hesabın Mı Var? <a href="signin"> Giriş Yap </a></p>
  </div>
</body>
</form>