<form action="/users/login" method="POST">
  <div class="container">
    <h1>Giriş Yap</h1>
    <p>Lütfen Giriş Yapacağınız Hesabın Bilgilerini Giriniz.</p>
    <hr>

    <label for="email"><b>e-Posta</b></label>
    <input type="text" placeholder="..." name="_name" required>

    <label for="pass"><b>Şifre</b></label>
    <input type="password" placeholder="..." name="pass" required>

    <!--a class="register" href="anasayfa">Giriş Yap</a-->
<button class="/users/login" type="submit">Giriş Yap</button>
  </div>
  
</form>