    
<!-- content -->

	<div id="content">
		<div class="indent">
        			<dl class="dlsoru">

        <h2>Merak Edilen Sorular</h2>
				<dt>Müşteri: Garanti süresi ne kadar ?</dt>
				<dd>Biz: Ürünlerimizin garanti süresi 2 yıl.</dd>
				<dt>Müşteri: Hangi ödeme yöntemlerini kabul ediyorsunuz ?</dt>
				<dd>Biz: Tüm kredi kartları ve kapıda nakit ödeme yapabilirsiniz.</dd>
				<dt>Müşteri: Tüm şehirlere kargo imkanı mevcut mu ?</dt>
				<dd>Biz: Yurtiçi , yurtdışı her yere kargo imkanı mevcuttur.</dd>
				<dt>Müşteri: Ücret ve ürün iade politikanızı nereden öğrenebilirim ?</dt>
				<dd>Biz: Ürün hasarlı olmadığı sürece iade kabul etmiyoruz..</dd>
                <dt>Müşteri: Her yola uygun lastiğiniz mevcut mu ?</dt>
				<dd>Biz: Her türlü lastik mevcuttur ?</dd>
				<dt>Müşteri: Siparişim kargoya ne zaman teslim edilir? </dt>
				<dd>Biz: Saat 14.00'den önce verilen her kargo gün içerisinde kargolanır.</dd>
				<dt>Müşteri: Ürünleriniz ortalama kullanım süresi ne kadar?</dt>
				<dd>Biz: Ürünlerimiz ortalama 3-4 yıl kullanım süresine sahiptir.</dd>
				<dt>Müşteri: Lastiklerin üretim yılı kaç ?</dt>
				<dd>Biz: Lastikler 2021 yılında üretilmiştir.</dd>
			</dl>

		</div>
	</div>