#main {width:1000;margin:0 auto;position:relative}
#header {height:200px}
#header, #content {font-size:0.875em}
.col-1, .col-2, .col-3 {float:left}

#page1 #content .line-ver {background-position:454px top}
#page1 #content .col-1 {width:100px;margin-right:94px}
#page1 #content .col-2 {width:100px}

#page2 #content .urunler {width:100px;}

                              

#page5 #content .line-ver {background-position:454px top}
#page5 #content .col-1 {width:411px;margin-right:94px}
#page5 #content .col-2 {width:405px}
#footer {width:100%;padding:0 20px 40px 20px;font-size:0.875em}